@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

$main-color: #201f58       
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background-color: #EEF2F7
    font-family: 'Lato', sans-serif
    color: $main-color
    font-size: 70px
    font-weight: 100
  
    
.wrapper
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    letter-spacing: 7px
    &__clock
        padding-bottom: 20px
        border-bottom: 1px solid $main-color
    &__date
        margin-top: 20px
        font-size: 1.7rem
